{% extends "home/base.html" %}
{% load staticfiles %}
{% block content %}

      {% for ab in about %}
      <div class="starter-template">
        <h1>{{ ab.title }}</h1>
        <p class="lead">{{ ab.text|linebreaks }}</p>
      </div>
      {% endfor %}

    <section class="members-details">
        
        <div class="block">
            <a name="ss"></a>
            <center><h2>The members of CodeMasters
                <span class="tagline"></span>
            </h2></center>
            {% for member in members %}
            <article class="clearfix member-details">

                <div class="image"><img src="{% static "images/developer.jpg"%}" alt="{{ member.last_name }} {{ member.first_name }}"></div>
                <div class="details">
                    <h3>{{ member.last_name }} {{ member.first_name }}</h3>
                    <i>{{ member.position }}</i>
                    <p>{{ member.biography|linebreaks }}</p>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>    
    
{% endblock content %}
